*{
    border: 0;
    margin: 0 auto;
    padding: 0;
}
#wrapper{
    border: 3px solid black;
    padding: 10px;
    width: 970px;
}
#book_select{
    height: 200px;
    width: 300px;
    overflow-y: scroll;
}
